#########################
#
# To update requirements.txt
#   Install pip-tools :
#       pip install pip-tools
#   Run the pip-compile
#       pip-compile --no-annotate --output-file=requirements.txt requirements.in
#
#########################

django==4.2.5